.entry-section{
    position: relative;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../assets/images/Entry/bg.png");
    background-size: cover;
    background-position: center;

    width: 100%;
    min-height: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    color: aliceblue;
    padding: 6% 20% 4% 20%;
}
.entry-section h1{
    font-family: "inspiration";
    font-size: 5rem;
    letter-spacing: 0.2rem;
}
.entry-section p{
    font-family: "Indie Flower";
    font-size: 2rem;
    line-height: 2.8rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
.title{
    margin-top: 6vh;
    margin-bottom: 3rem;
}
