.signin-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100vh;
    background-image: url("../assets/images/sign-in.png");
    background-size: cover;
    background-position: top center;
    overflow-y: hidden;
}

.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.signin-card {
    width: 620px;
    height: 700px;

    background-image: url("../assets/images/sign-in-card.png");
    background-size: 100% 100%;   
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    margin-left: auto;     
    margin-right: 15rem;
    margin-top: 3rem;
    margin-bottom: auto;
}
.signin-card h2 {
    font-family: 'Georgia', serif;
    color: #3d2b1f;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.signin-card input {
    width: 80%;
    padding: 0.6rem 1rem;

    
    border-bottom: 2px solid #3d2b1f;
    border-radius: 6px;

    font-family: inherit;
    font-size: 1rem;
    color: #3d2b1f;

    margin-bottom: 0.8rem;
    outline: none;
}

.signin-card button {
    padding: 0.6rem 1.2rem;
    border:2px solid #3d2b1f ;
    color: #3d2b1f;

    border-radius: 6px;
    font-family: 'Georgia', serif;
    font-weight: bold;

    margin-top: 0.8rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.signin-card button:hover {
    background: #5a3f2c;
    color: #fff;
}
.signin-card {
    animation: fadeUp 1s ease forwards;
    opacity: 0;
}

@keyframes fadeUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
